---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: eureka_sans;
  src: url('../media/fonts/eureka-sans/eureka-sans.eot');
  src: url('../media/fonts/eureka-sans/eureka-sans.eot?#iefix') format('embedded-opentype'),
       url('../media/fonts/eureka-sans/eureka-sans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: eureka_sans;
//   src: url('../media/fonts/eureka-sans/eureka-sans-italic.eot');
//   src: url('../media/fonts/eureka-sans/eureka-sans-italic.eot?#iefix') format('embedded-opentype'),
//        url('../media/fonts/eureka-sans/eureka-sans-italic.woff') format('woff');
//   font-weight: normal;
//   font-style: italic;
// }

@font-face {
  font-family: eureka_sans_sc;
  src: url('../media/fonts/eureka-sans/eureka-sans-sc.eot');
  src: url('../media/fonts/eureka-sans/eureka-sans-sc.eot?#iefix') format('embedded-opentype'),
       url('../media/fonts/eureka-sans/eureka-sans-sc.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: eureka_sans_sc;
  src: url('../media/fonts/eureka-sans/eureka-sans-medium-sc.eot');
  src: url('../media/fonts/eureka-sans/eureka-sans-medium-sc.eot?#iefix') format('embedded-opentype'),
       url('../media/fonts/eureka-sans/eureka-sans-medium-sc.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: eureka;
  src: url('../media/fonts/eureka/eureka.eot');
  src: url('../media/fonts/eureka/eureka.eot?#iefix') format('embedded-opentype'),
       url('../media/fonts/eureka/eureka.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: eureka;
  src: url('../media/fonts/eureka/eureka-medium.eot');
  src: url('../media/fonts/eureka/eureka-medium.eot?#iefix') format('embedded-opentype'),
       url('../media/fonts/eureka/eureka-medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: eureka;
  src: url('../media/fonts/eureka/eureka-regular-italic.eot');
  src: url('../media/fonts/eureka/eureka-regular-italic.eot?#iefix') format('embedded-opentype'),
       url('../media/fonts/eureka/eureka-regular-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}


// Our variables
$sans-font-family: eureka_sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font-family: eureka, Georgia, "Times New Roman", serif;
$smallcaps-font-family: eureka_sans_sc, $sans-font-family;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: rgb(249, 243, 229);
$brand-color:      rgb(61, 95, 30);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1024px;

$on-small-palm:    350px;
$on-palm:          680px;
$on-laptop:        800px;
$on-desktop:       1200px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
@mixin media-query-lt($device) {
  @media screen and (min-width: $device) {
      @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout"
;
