---
---

@font-face {
    font-family: "Adobe Caslon";
    src: url("../fonts/ACaslonPro-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Adobe Caslon";
    src: url("../fonts/ACaslonPro-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Adobe Caslon";
    src: url("../fonts/ACaslonPro-Italic.otf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Adobe Caslon";
    src: url("../fonts/ACaslonPro-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaLT.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaLT-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaLT-Book.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaLT-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

html {
    // Add this back when it is better supported!
    /* scroll-behavior: smooth; */
    font-size: 100%;
}

body {
    display: flex;
    font-family: Adobe Caslon;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
    color: black;
}

#content {
    display: flex;
    min-height: 70%;
    margin-top: 16.4vh;
    max-width: 1100px;
    padding: 0 40px;
    position: relative;
    width: 100%;
}

h1 {
    font-family: Futura;
    font-variant: small-caps;
    font-weight: bold;
    margin: 0;
    text-transform: lowercase;
}

nav {
    float: left;
    flex: 1 0 auto;
    font-family: Futura;
    font-size: 1.2rem;
    font-weight: 500;
    height: 100%;
    line-height: 28px;
    padding-right: 55px;
    position: fixed;
    text-align: right;
    margin-top: 13px;

    input {
        border-radius: 0;
    }

    > button {
        display: none;
    }

    ul {
        padding: 0;
        ul {
            display: none;
        }
    }
    li {
        list-style: none;
        &.selected ul {
            display: initial;
        }
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        &.selected > a {
            text-decoration: underline;
        }
        li {
            &.selected a {
                color: black;
            }
            a {
                color: grey;
                font-weight: 300;
            }
        }
    }
    input {
        border-color: grey;
        border-width: 0 0 2px 0;
        font-family: Futura;
        font-size: 1.2rem;
        font-weight: 500;
        text-align: right;
        width: 7.5rem;
        &:focus {
            border-width: 0 0 2px 0;
            border-color: black;
            outline: none;
        }
    }
}

.page {
    display: none;
    padding-bottom: 100vh;
}

#page-content {
    display: block;
    flex-grow: 1;
    font-size: 1.3rem;
    margin-left: 240px;
    width: 100%;
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: Futura;
        font-weight: bold;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.4rem;
        font-variant: small-caps;
        font-weight: 500;
        text-transform: lowercase;
    }

    h4 {
        font-size: 1.1rem;
    }

    h5 {
        font-size: 1.1rem;
        font-weight: 500;
    }

    h6 {
        font-weight: 400;
    }
    img {
        margin: 15px 0 15px 0;
        max-height: 100%;
        max-width: 100%;
        &.small {
            max-height: initial;
            width: 25%;
        }
        &.medium {
            max-height: initial;
            width: 50%;
        }
        &.large {
            max-height: initial;
            width: 75%;
        }
        &.full {
            max-height: initial;
            width: 100%;
        }
        &.left {
            float: left;
            margin: 0;
            padding: 0 15px 15px 0;
        }
        &.right {
            float: right;
            margin: 0;
            padding: 0 0 15px 15px;
        }
    }
}

#posts {
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-gap: 20px;
    grid-auto-rows: auto;
    list-style: none;
    padding: 0;
    width: 100%;
}

#tags,
#tags a {
    color: #999999;
    font-size: 1rem;
    margin-top: -0.6rem;
    text-decoration: none;
}

#tags a:hover {
    color: #666666;
}

#back-button {
    clear: both;
    display: none;
    float: left;
    a {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 10px;
        padding-top: 4px;
        text-decoration: none;
        &:hover {
            color: #666;
        }
    }
}

#page-content .post,
#featured-posts div {
    display: none;
    width: 120px;
    > a {
        text-decoration: none;
        img {
            border: 1px solid rgba(200, 200, 200, 0.5);
            filter: grayscale(100%);
            margin: 0 !important;
            max-height: initial;
            transition: 0.2s filter linear;
            &:hover {
                filter: grayscale(0%);
            }
            width: 100%;
        }
        span {
            font-size: 1.1rem;
        }
    }
    div {
        display: none;
    }
}

#featured-posts {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 200px));
    grid-auto-flow: column;
    width: 100%;

    div {
        display: block;
        max-width: 110px;
        width: 13vw;
    }
}

.tito-badge-link,
.sold-out {
    display: none;
}

$input-height: 28px;

button,
input {
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    border: 1.4px rgba(150, 150, 150, 0.5) solid;
    border-image-width: 0;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: Adobe Caslon;
    font-size: 1rem;
    height: $input-height;
    line-height: $input-height;
    margin: 8px 8px 8px 0;
    padding: 0 5px;
    text-rendering: optimizeLegibility;
}

.tito-wrapper {
    padding-bottom: 30px;
    ul {
        font-size: 1.1rem;
        list-style: none;
        margin: 0;
        padding: 0;

        li div {
            display: inline;
        }

        input[type="text"] {
            width: 40px;
        }
    }
}

$nav-height: 55px;

@media screen and (max-width: 500px) {
    body {
        display: block;
    }

    nav {
        background: white;
        font-size: 1.5rem;
        height: $nav-height;
        line-height: 2.4rem;
        margin-top: 0;
        margin-bottom: 30px;
        overflow: hidden;
        padding: 0;
        text-align: left;
        transition: 0.3s height ease;
        top: 0;
        width: 100%;
        z-index: 2;
        > div {
            height: calc(100% - #{$nav-height});
            overflow-y: scroll;
            padding-top: 20px;
            width: 100%;
            h1,
            & > ul {
                margin-left: 30px;
            }
        }
        > button {
            background: white;
            border: none;
            display: block;
            font-family: Futura;
            font-size: 1.7rem;
            height: $nav-height;
            margin: 0;
            font-variant: small-caps;
            width: 100%;
        }
    }

    #content {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #page-content {
        box-sizing: border-box;
        margin-top: 70px;
        margin-left: 0;
        padding: 0 30px 30px 30px;
    }

    #contact-page img {
        max-width: auto;
        width: 100% !important;
    }

    .page {
        padding-bottom: 0;
    }
}
