
<canvas class="background-canvas"></canvas>

<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">
      <a href="#" class="menu-icon"></a>

      <div class="trigger">
        <a class="page-link{% if '/' == page.url %} active-page-link{% endif %}" href="/{{ site.baseurl }}">Home</a>

        {% assign pages = site.pages | sort:"weight" %}
        {% for my_page in pages %}
          {% if my_page.title %}
            <a class="page-link{% if my_page.url == page.url %} active-page-link {% endif %} page-link-{{ forloop.index }}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
