/**
 * Site header
 */
.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

@keyframes text-wave {
  40%     { transform: rotateY(0); }
  55%     { transform: rotateZ(10deg) rotateY(30deg) skewX(10deg) skewY(4deg) scale(1.2); }
  70%     { transform: rotateY(0); }
  85%     { transform: rotateZ(-10deg) rotateY(-30deg) skewX(-10deg) skewY(-4deg) scale(1.2);}
  100%    { transform: rotateY(0); }
}

.site-nav {
    float: right;
    line-height: 56px;
    background-color: $background-color;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    .menu-icon {
        display: none;
    }

    .page-link {
        display: inline-block;
        color: $text-color;
        line-height: $base-line-height;
        font-size: 20px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }

        backface-visibility: hidden;
        perspective: 1000;
        transform-style: preserve3d;

        animation-duration: 8s;
        animation-name: text-wave;
        animation-iteration-count: infinite;
    }
    .page-link-4 { animation-delay: 0.25s; }
    .page-link-5 { animation-delay: 0.5s; }
    .page-link-6 { animation-delay: 0.75s; }
    .active-page-link {
      text-decoration: underline;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Home
 */
 @keyframes rainbow-shadow {
   0%     { text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.95); }
   12%    { text-shadow: 4px 4px 0px rgba(255, 0, 0, 0.95); }
   25%    { text-shadow: 4px 4px 0px rgba(255, 0, 255, 0.95); }
   37%    { text-shadow: 4px 4px 0px rgba(0, 0, 255, 0.95); }
   50%    { text-shadow: 4px 4px 0px rgba(0, 255, 255, 0.95); }
   62%    { text-shadow: 4px 4px 0px rgba(0, 255, 0, 0.95); }
   75%    { text-shadow: 4px 4px 0px rgba(255, 255, 0, 0.95); }
   87%    { text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.95); }
   100%   { text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.95); }
 }

.home-site-title {
  margin-top: -100px;
  font-size: 300px;

  animation-duration: 4s;
  animation-name: rainbow-shadow;
  animation-iteration-count: infinite;

  @include media-query($on-laptop) {
    font-size: 250px;
  }

  @include media-query($on-palm) {
    font-size: 140px;
  }
}

.home-pith-info {
  position: absolute;
  bottom: 20px; right: 20px;
  background-color: white;
  padding: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post {
  background-color: white;
  padding: 8px;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
