
body {
  text-rendering: geometricPrecision;
}

.top-wrapper {

}

.page-wrapper {
  position: relative;
  width: 800px;
  margin: 0 auto;
  padding: 30px 0;
  transform: translateX(-100px);

  @include media-query($on-desktop) {
      transform: none;
  }

  @include media-query($on-laptop) {
    width: auto;
  }

  @include media-query($on-palm) {
    padding: 20px;
    width: auto;
  }
}

/**
 * Header
 */
.header-images {
  position: relative;
  text-align: center;

  .header-image-wrapper {
    display: inline-block;
    position: relative;
    width: calc(33% - 20px);

    @include media-query-lt($on-palm) {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    @include media-query($on-palm) {
      width: 100%;
      max-height: 56px;
      margin-right: 0;

      &:not(:first-child) {
        display: none;
      }
    }
  }
  .header-image-wrapper:after {
    padding-top: 26%;
    display: block;
    content: '';
    background: darken($background-color, 5%);

    @include media-query($on-palm) {
      padding-top: 15%;
      background: transparent;
    }
  }

  .header-image {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    border: 1px solid #000;
    opacity: 0;
    transition: opacity 0.5s;
    cursor: pointer;
    background-position: center top;
    background-size: 100% auto;
  }
}

.header-logo {
  position: absolute;
  display: block;
  left: 35px; top: 112px;
  width: 190px;
  transition: transform 0.2s;
  z-index: 1001;

  img {
    width: 100%;
  }

  @include media-query($on-laptop) {
    left: 20px;
    top: 95px;
  }

  @include media-query($on-palm) {
    display: none;
  }
}

.site-nav {
    position: absolute;
    left: calc(33% + 10px); top: 115px;
    z-index: 1000;

    min-height: 56px;
    margin: 5px;

    .page-link {
        display: inline-block;
        color: $brand-color;
        line-height: $base-line-height;
        font-family: $smallcaps-font-family;
        font-size: 21px;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 3px;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
          margin-right: 30px;
        }

        &:hover {
          text-decoration: underline;
        }
    }
    .active-page-link {
      text-decoration: underline;
    }

    @include media-query($on-laptop) {
      top: 100px;
      .page-link {
        font-size: 18px;

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }

    @include media-query($on-palm) {
      position: static;
      max-width: 100%;
      text-align: center;
      margin-top: -2px;
      margin-bottom: 5px;

      .page-link {
        font-size: 15px;
        letter-spacing: 2px;

        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }

    @include media-query($on-small-palm) {
      .page-link {
        font-size: 12px;

        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
}

/**
 * Content
 */
.content-container {
  position: absolute;
  z-index: 1;
  left: 0; padding-left: calc(33% + 10px);
  top: 165px;
  width: calc(67% - 20px); max-height: calc(100vh - 165px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  @include media-query($on-laptop) {
    top: 145px;
    max-height: calc(100vh - 145px);
  }

  @include media-query($on-palm) {
    padding-left: 0;
    top: 120px;
    width: 100%;
    max-height: calc(100vh - 120px);
  }
}
.content-wrapper {
  text-align: left;
  min-width: 300px;
  padding-bottom: 20px;

  margin-bottom: 20px;

  @include media-query($on-palm) {
    margin: 0 10px 5px 10px;
    max-width: 100%;
  }

  img {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.2s ease-in-out;

    &:hover, &:focus {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
  }
}

/**
 * Image Gallery
 */
.image-gallery-container {
  position: fixed;
  left: 0; top: 0; width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none;

  img {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%; max-height: 95%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    @include media-query($on-palm) {
      max-width: 100%; max-height: 100%;
    }
  }

  .image-gallery-close-button, .image-gallery-next-button, .image-gallery-prev-button {
    position: fixed;
    color: white;
    font-size: 22px;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
    user-select: none;
    z-index: 1;

    &:hover {
      text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4);
      text-decoration: underline;
    }
  }

  .image-gallery-close-button {
    top: 10px; right: 10px;
  }

  .image-gallery-next-button {
    top: 48%; right: 10px;

    @include media-query($on-palm) {
      display: none;
    }
  }

  .image-gallery-prev-button {
    top: 48%; left: 10px;

    @include media-query($on-palm) {
      display: none;
    }
  }
}

/**
 * Events
 */
.events {
  margin: 0;

  @include media-query($on-palm) {
    margin: 0 10px 10px 10px;
  }
}

.events-header {
  font-size: 17px;

  @include media-query($on-palm) {
    font-size: 15px;
  }

  &:after {
    content: "";
    display: block;
    margin-top: 12px; margin-bottom: 28px;
    width: 100%;
    height: 1px;
    background-color: black;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

    @include media-query($on-palm) {
      margin-bottom: 12px;
    }
  }
}

.event-list {
    margin-left: 0;
    list-style: none;

    > li {
      position: relative;
      display: inline-block;
      min-width: 50%;
      padding: 8px 0 8px 0;

      @include media-query($on-palm) {
        padding: 4px 0 4px 0;
      }

      &:first-child {
        margin-top: 10px;
      }
      &:not(:last-child) {
        margin-bottom: 20px;

        @include media-query($on-palm) {
          margin-bottom: 5px;
        }
      }
    }
}

.event-date {
  margin-top: -5px;
  font-size: 16px;
  color: $grey-color;
}

.event-title {
  display: block;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.event-content {
  font-size: 18px;

  @include media-query($on-palm) {
    font-size: 16px;
  }

  a {
    text-decoration: underline;
  }
}

/**
 * Posts
 */
.post {
  a {
    color: inherit;
  }
}

.post-body {
  a {
    text-decoration: underline;
  }
}

.post-header {
  margin: $spacing-unit 0;

  @include media-query($on-palm) {
    margin: 10px;
  }
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 8px;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-content {
    margin: 0 0 $spacing-unit 0;
    font-size: 18px;

    @include media-query($on-palm) {
      margin: 0 10px 10px 10px;
      font-size: 16px;
    }

    p {
      margin-bottom: 25px;
    }

    h2 {
        font-family: $smallcaps-font-family;
        font-size: 36px;
        margin-bottom: 8px;
        color: $brand-color;
        margin-bottom: 10px;

        @include media-query($on-laptop) {
          font-size: 28px;
        }

        @include media-query($on-palm) {
          margin-bottom: 4px;
        }
    }

    h3 {
        font-family: $smallcaps-font-family;
        font-size: 22px;
        color: $brand-color;
        margin-bottom: 0;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h4 {
        font-family: $smallcaps-font-family;
        font-size: 20px;
        color: $brand-color;
        margin-bottom: 0;

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }
}
