
body {
  text-rendering: geometricPrecision;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.pith-orange {
  color: rgb(157, 78, 40);
}

.pith-blue {
  color: rgb(110, 155, 184);
}

.site-nav {
    position: absolute;
    left: 0; top: 0;
    z-index: 1000;

    min-height: 56px;
    line-height: 56px;
    margin: 5px;
    padding: 5px;

    .home-page-link {
      text-decoration: none;

      :hover {
        transform: scale(1.2);
      }
    }
    .home-page-link img {
      width: 200px;
      margin-right: 5px;
      margin-bottom: 5px;
      transition: transform 500ms;
    }

    .page-link {
        display: inline-block;
        color: $text-color;
        line-height: $base-line-height;
        font-size: 20px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
        text-decoration: none;

        opacity: 0;
        transition: opacity 1s;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
          margin-right: 20px;
        }
    }
    .page-link-4 { animation-delay: 0.25s; }
    .page-link-5 { animation-delay: 0.5s; }
    .page-link-6 { animation-delay: 0.75s; }
    .active-page-link {
      text-decoration: underline;
    }

    @include media-query($on-palm) {
      text-align: left;
      margin-bottom: 5px;
      line-height: 24px;

      .home-page-link {
        display: block;

        :hover {
          transform: scale(1.05);
        }
      }
      .home-page-link img {
        width: 150px;
        margin-bottom: 0;
      }

      .page-link {
        line-height: 1;
        margin-left: 7px;
        font-size: 18px;

        &:not(:last-child) {
          margin-right: 0;
        }
      }
      .page-link-4 {
        margin-left: 15px;
      }
    }
}

/**
 * Home
 */
 @keyframes rainbow-shadow {
   0%     { text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.95); }
   12%    { text-shadow: 4px 4px 0px rgba(255, 0, 0, 0.95); }
   25%    { text-shadow: 4px 4px 0px rgba(255, 0, 255, 0.95); }
   37%    { text-shadow: 4px 4px 0px rgba(0, 0, 255, 0.95); }
   50%    { text-shadow: 4px 4px 0px rgba(0, 255, 255, 0.95); }
   62%    { text-shadow: 4px 4px 0px rgba(0, 255, 0, 0.95); }
   75%    { text-shadow: 4px 4px 0px rgba(255, 255, 0, 0.95); }
   87%    { text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.95); }
   100%   { text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.95); }
 }

.home-splash {
  position: fixed; top: 0; left: 0; width: 100%; height: 100%;
  background-color: white;
  z-index: 2000;

  transition: opacity 1s;
}

.centered-logo {
  position: fixed;
  top: 40%; left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

/**
 * Turnip
 */
.turnip-container {
  position: fixed;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  @media screen and (max-width: 1439px) {
    width: 100%;
    height: 100%;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px; height: 1440px;
    max-width: 100%; max-height: 100%;
  }
}
.turnip-image-zone {
  position: absolute;
  z-index: -1;

  top: 0; min-height: 1440px;
  margin-top: -300px;

  @media screen and (min-height: 975px) {
    min-height: 150%;
  }

  transition: all 8s;
}
.left-turnip-image-zone {
  left: 0;
  width: 30%;
}
.center-turnip-image-zone {
  left: 29.9%;
  width: 30.1%;
}
.right-turnip-image-zone {
  left: 59.9%;
  width: 40.1%;
}
.big-right-turnip-image-zone {
  left: 29.9%;
  width: 70.1%;
  margin-top: -100px;
}
.turnip-image {
  position: absolute; left: 0; top: 0;
  width: 100%; height: 100%;
  object-fit: cover;

  transition: all 8s;
}

/**
 * Content
 */
.content-container {
  z-index: 1;
  position: absolute;
  left: 30%; top: 80px;
  width: 70%; height: 100%;
  overflow-y: scroll;

  @media screen and (min-height: 1440px) {
    height: 1320px;
  }

  @include media-query($on-palm) {
    left: 0;
    top: 105px;
    width: 100%;
  }
}
.content-wrapper {
  display: inline-block;
  text-align: left;
  min-width: 300px;
  padding-bottom: 140px;

  margin: 20px;
  max-width: 600px;

  @include media-query($on-palm) {
    margin: 5px 10px;
    max-width: 100%;
  }

  img {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.2s ease-in-out;

    &:hover, &:focus {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
  }
}

.image-gallery-container {
  position: fixed;
  left: 0; top: 0; width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none;

  img {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%; max-height: 95%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    @include media-query($on-palm) {
      max-width: 100%; max-height: 100%;
    }
  }

  .image-gallery-close-button, .image-gallery-next-button, .image-gallery-prev-button {
    position: fixed;
    color: white;
    font-size: 24px;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
    user-select: none;
    z-index: 1;

    &:hover {
      text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4);
      text-decoration: underline;
    }
  }

  .image-gallery-close-button {
    top: 10px; left: 10px;

    @include media-query($on-palm) {
      width: 100%;
      left: 0;
      text-align: center;
    }
  }

  .image-gallery-next-button {
    top: 48%; right: 10px;

    @include media-query($on-palm) {
      top: 10px; right: 10px;
    }
  }

  .image-gallery-prev-button {
    top: 48%; left: 10px;

    @include media-query($on-palm) {
      top: 10px; left: 10px;
    }
  }
}

/**
 * Events
 */
.events {
  margin: 20px;

  @include media-query($on-palm) {
    margin: 10px;
  }
}

.events-header {
  font-size: 28px;

  @include media-query($on-palm) {
    font-size: 20px;
  }

  &:after {
    content: "";
    display: block;
    margin-top: 12px; margin-bottom: 28px;
    width: 100%;
    height: 1px;
    background-color: black;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

    @include media-query($on-palm) {
      margin-bottom: 12px;
    }
  }
}

.event-list {
    margin-left: 0;
    list-style: none;

    > li {
      position: relative;
      display: inline-block;
      min-width: 50%;
      padding: 8px;

      @include media-query($on-palm) {
        padding: 4px 0 4px 0;
      }

      &:first-child {
        margin-top: 10px;
      }
      &:not(:last-child) {
        margin-bottom: $spacing-unit;

        @include media-query($on-palm) {
          margin-bottom: 5px;
        }
      }
    }
}

.event-date {
  margin-top: -5px;
  font-size: 12px;
  color: $grey-color;
}

.event-title {
  display: block;
  color: $alt-brand-color;
  font-size: 28px;
  text-decoration: none;
}

.event-content {
  margin-top: 5px;
  font-size: 18px;
}

/**
 * Posts
 */
.post {
  a {
    color: inherit;
  }
}

.post-header {
  margin: $spacing-unit;

  @include media-query($on-palm) {
    margin: 10px;
  }
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 8px;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-content {
    margin: $spacing-unit;
    font-size: 22px;

    @include media-query($on-palm) {
      margin: 10px;
      font-size: 20px;
    }

    h2 {
        font-size: 36px;
        margin-bottom: 8px;
        color: $alt-brand-color;

        @include media-query($on-laptop) {
          font-size: 28px;
        }

        @include media-query($on-palm) {
          margin-bottom: 4px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
